<!DOCTYPE html>
<html>
  <head>
    <%- include partials/_head %>
  </head>
  <body>
    <header>
      <%- include partials/_navbar %>
    </header>
    <% for(const type in messages) { %>
      <div class="<%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
    <% } %>
    <main class="container">
      <%- body %>
    </main>
  </body>
</html>
