<% cocktails.forEach((cocktail) => { %>
  <div class="row">
      <div class="col-sm-6">
        <a href="/cocktails/<%= cocktail.id %>"><img class="img-fluid" src="/assets/images/<%= cocktail.image %>" alt="<%= cocktail.name %>"></a>
      </div>
    <div class="col-sm-6">
      <a href="/cocktails/<%= cocktail.id %>"><h2><%= cocktail.name %></h2></a>
      <p>
        <h4><%= cocktail.sweet %></h4>
        <h4><%= cocktail.tart %></h4>
        <h4><%= cocktail.bitter %></h4>
      </p>
      <p><%= cocktail.recipe %></p>
    </div>
  </div>
<% }) %>
