<div class="row">
  <div class="col-sm-6">
    <img class="img-fluid" src="/assets/images/<%= cocktail.image %>" alt="<%= cocktail.name %>">
  </div>
  <div class="col-sm-6">
    <h2><%= cocktail.name %></h2>
    <p>
      <h4><%= cocktail.sweet %></h4>
      <h4><%= cocktail.tart %></h4>
      <h4><%= cocktail.bitter %></h4>
    </p>
    <p>
      <%= cocktail.recipe %>
    </p>
  </div>

</div>
<div>
  <hr>
  <button class="btn btn-success"><a href="/cocktails/<%= cocktail.id %>/twists/new">New Twist</a></button>
  <hr>
</div>

<div class="row">
    <% cocktail.twists.forEach((twist) => { %>
      <a href="/cocktails/<%= cocktail.id %>/twists/<%= twist.id %> ">
        <div class="col-sm-2">
          <img class="img-fluid" src="<%= twist.imageSRC %>" alt="<%= twist.name %>">
        </div>
        <div class="col-sm-2">
          <p><%= twist.name %></p>
          <p><%= twist.recipe %></p>
          <p><%= twist.createdBy.username %></p>
        </div>
      </a>
</div>
<div class="row">
      <% if(locals.isAuthenticated && twist.madeBy(user)) { %>
        <div>
          <button class="btn btn-primary"><a href="/cocktails/<%= cocktail.id %>/twists/<%= twist.id %>/edit">Edit</a></button>
        </div>
        <div>
          <form method="POST" action="/cocktails/<%= cocktail.id %>/twists/<%= twist.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>


      <% } %>
    <% }) %>
</div>
