<div class="row">
  <div class="col-sm-6">
    <img class="img-fluid" src="/assets/images/<%= cocktail.image %>" alt="<%= cocktail.name %>">
  </div>
  <div class="col-sm-6">
    <h2><%= cocktail.name %></h2>
    <p>
      <h4><%= cocktail.sweet %></h4>
      <h4><%= cocktail.tart %></h4>
      <h4><%= cocktail.bitter %></h4>
    </p>
    <p>
      <%= cocktail.recipe %>
    </p>
  </div>

</div>
<div>
  <hr>
  <a href="/cocktails/<%= cocktail.id %>/twists/new">New Twist</a>
  <hr>
</div>

<div class="row">
    <% cocktail.twists.forEach((twist) => { %>
      <a href="/cocktails/<%= cocktail.id %>/twists/<%= twist.id %> ">
        <div class="col-sm-6">
          <img class="img-fluid" src="/assets/images/<%= twist.image %>" alt="<%= twist.name %>">
        </div>
        <div class="col-sm-6">
          <p><%= twist.name %></p>
          <p><%= twist.recipe %></p>
        </div>
      </a>
    <% }) %>

</div>
